@import "tailwindcss";

@font-face {
  font-family: Florisha;
  src: url(/public/assets/fonts/Florisha\ -\ Bold.woff2);
}

@theme {
  --font-Florisha: Florisha;
}

body {
  overflow-x: hidden !important;
  user-select: none !important;
  -moz-user-select: none !important;
}

.Navbar_Link_Text_Span {
  margin-left: 5px !important;
  display: inline-flex !important;
}