@import "tailwindcss";

@font-face {
  font-family: Florisha;
  src: url("./assets/fonts/Florisha.woff2") format("woff2");
}
@font-face {
  font-family: Bruney;
  src: url("./assets/fonts/Bruney.woff2") format("woff2");
}
@font-face {
  font-family: Glitten-Bold;
  src: url("./assets/fonts/Glitten-Bold.woff2") format("woff2");
}
@font-face {
  font-family: Glitten-Regular;
  src: url("./assets/fonts/Glitten-Regular.woff2") format("woff2");
}

@theme {
  --font-Florisha: Florisha;
  --font-Bruney: Bruney;
  --font-Glitten-Bold: Glitten-Bold;
  --font-Glitten-Regular: Glitten-Regular;
  --breakpoint-smallMobile: 500px;
  --breakpoint-mobile: 720px;
  --breakpoint-tablet: 830px;
  --breakpoint-laptop: 1000px;
  --breakpoint-desktop: 1190px;
  --breakpoint-extraLarge: 1350px;
  --color-layout: #011222;
  --color-layoutText: #fdfcdc;
}

html,
body {
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  outline: none !important;
}

::-webkit-scrollbar-track {
  background: var(--color-layout);
}

::-webkit-scrollbar-thumb {
  background: var(--color-layoutText);
  border: 3px solid var(--color-layout);
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-layoutText) var(--color-layout);
}
button {
  cursor: pointer !important;
}
